.feature{
    height: 70rem;
    
    
    &__container{
        height: 100%;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
    }
    &__left{
        position: relative;

        figure{
            position: absolute;
            // top: 10px;
            left: 40px;
            z-index: 1000;
        }
    
    }

    &__card-bg{
        position: absolute;
        right: 4rem;
        height: 50rem;
        width: 57rem;
        background: rgba(207, 237, 255, 1);

    }

    &__card-box{
        height: 41rem;
        width: 61rem;
        z-index: 100;
        position: absolute;
        right: 6rem;

    }


    &__card-1{
        height: 18rem;
        width: 58rem;
        box-shadow: 0px 18px 30px 0px rgba(111, 111, 111, 0.07);


        .oval{
            display: block;
            height: .5rem;
            width: .5rem;

        }
    }
    &__card-year{
        height: 9rem;
        position: relative;

        svg{
            position: absolute;
            top: 1rem ;
            left: 0;
        }
    }
    &__card-2{
        padding: 1rem 1.5rem;
        position: relative;
        // display: flex;
        height: 14rem;
        width: 18rem;
        box-shadow: 19px 19px 47px 0px rgba(161, 176, 207, 0.21);

        p{text-align: end;}

        img{
            position: absolute;
            top: -2.5rem;
            left: 0;
        }

    }
    &__card-3,&__card-4{
        p{text-align: end;}
        padding: 1rem 1.5rem;
       
        height: 14rem;
        width: 18rem;
        box-shadow: 19px 19px 47px 0px rgba(161, 176, 207, 0.21);

     

    }

    &__img{
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
    }

    &__right{
        justify-content:start;
    }


    &__text{
        height: 47rem;
        width: 46rem;

        h2{font-family: 'Bai Jamjuree', sans-serif; font-weight: 600;}

        .ds-grid{
            grid-column-gap: 2.5rem;
            height: 9rem;
            width: 38rem;

            & > :first-child{
                display: grid;
                place-items: center;
                height: 6rem;
                width: 6rem;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
}